body {
    margin: 50px
}

#wrapperDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.filterField {
    display: flex;
    justify-content: center;
}

.filterInsideField {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.filterInsideField button {
    background-color: #fff;
    color: #000;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 20px
}

#min_value, #max_value {
    padding: 5px 10px;
    margin: 2px;
}